body {
    background-image: url(../../public/images/enhanced-background-9.svg);
    background-size: cover;
}

.resumes-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.content {
    gap: 1rem;
}

.content p {
    text-align: center;
}