.resumes-primary-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    background-color: black;
    color: var(--mauve);
    border: 1px solid var(--purple);
    border-radius: 6px;

    padding: 16px 24px;

    box-shadow: 0px 0px 30px 1px var(--purple);
}

.resumes-secondaries-container {
    display: flex;
}

.resumes-secondary-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    color: var(--mauve);
    border: 1px solid var(--purple);
    border-radius: 4px;

    padding: 8px 16px;
}

.resumes-language {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.resumes-language img {
    width: 20px;
    height: 20px;
}

.resumes-secondary-resume .resumes-language img {
    width: 16px;
    height: 16px; 
}